/* styles.css */

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items to the center */
  background-color: #5c85a3;
  padding: 1rem 2rem;
  color: #fff;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 600px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-logo img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  margin-left: 150px; /* Ensure equal width and height for a perfect circle */
  border-radius: 50%; /* Makes it circular */
  object-fit: cover; /* Ensures the image covers the circular frame */
  border: 2px solid #ddd; /* Optional: Adds a light border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow */
}

.nav {
  margin-right: 50px;
}

.nav a {
  margin: 0 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff; /* Text color */
  margin-top: 7px;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline; /* Example hover effect (you can modify as needed) */
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/1.jpg") no-repeat center center/cover;
}

/* Additional styles for background and overall layout */
body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: Arial, sans-serif;
}
