/* Login.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #5c85a3(0, 0, 0, 0.85);
  padding: 1rem 2rem;
  background-color: #5c85a3;
  color: #fff;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-logo img {
  width: 50px; /* Adjust size as needed */
  height: 50px; 
  margin-left: 150px;/* Ensure equal width and height for a perfect circle */
  border-radius: 50%; /* Makes it circular */
  object-fit: cover; /* Ensures the image covers the circular frame */
  border: 2px solid #ddd; /* Optional: Adds a light border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow */
}

.nav{
  margin-right: 50px;
}

.nav a {
  margin: 0 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;   
  color: #fff;   /*#0056b3,#FDAB95*/ 
  margin-top: 7px;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/1.jpg") no-repeat center center/cover;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
}

.login-box img.login-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  font-style:oblique;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-box form input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-box form button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background-color: #5c85a3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box form button:hover {
  background-color: #5c85a3;
}

.login-box a {
  color: #5c85a3;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
}
